.header {
    font-weight: bold;
    height: 200;
    background-color: white;
    text-align:center;
    align-content: center;
}
.main {
    align-content: center;
}
.table {
    align-items: center;
    width: 50%;
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
}
.th { 
    background: #ccc;
    padding: 4px;
    border: 1px solid black;
}
.td { 
    border: 1px solid black;
}
.td-header {
    font-weight: bold;
}

.footer {
    font-weight: bolder;
    text-align: right;
}
